


.conatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  min-height: 400px;
  min-width: 350px;
  /* margin-top: 15vh ; */
  top: 20%;
  /* bottom: auto; */
  /* right: 25%; */
  left: 50%;
  transform: translate(-50%, 0); 
  padding: 2vh 5vw;
  border-radius: 12px;
  background-color: var( --main-backgroud-color );
  box-shadow: 3px 3px 3px #111;
}
/* 
.upConatiner{
  bottom: 5vh;
} */

.logo {
  padding: 2vh 0;
  display: block;
  /* flex-grow:4; */
  margin: auto;
  align-items: center;

}

.para {
  display: block;
  margin: 1.5vh auto;
  text-align: center;
  font-family: "BoutrosMBCDinkum";
  font-size: 1.1rem;
  font-weight: 800;
  color: rgb(163, 175, 194);
  flex-grow:1;
}

.email {
  border-radius: 20px;
  border-color: transparent;
  padding: 1vh 1vw;
  width: 100%;
  flex-grow:2;
}

.email:focus {
  outline: none;
}

.login {
  margin: 4vh 0;
  background: linear-gradient(90deg, var( --primary-color ), var( --secondary-color ));
  color: white !important;
  border-radius: 40px;
  font-weight: bold;
  font-size: 1rem;
  font-family: BoutrosMBCDinkum, sans-serif;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  text-align: center;
  align-content: center;
  padding: 1vh 1vw;
  border-color: transparent;
  width: 100%;
  flex-grow:2;

  /* padding-top: 12px; */
  /* padding-bottom: 12px; */
}

.login:hover {
  background: var( --primary-color );
}

.or {
  flex-grow:1;
  font-size: 1.2rem;
  line-height: .5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgba(192, 192, 192, 1) calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}

.or>span{
  display: inline-block;
  background-color: var( --main-backgroud-color );
}

.signup{
  flex-grow: 2;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1vh 0;
  font-weight: 800;
}

.signup:hover{
  color: white;
  cursor: pointer;
}

/* @media only screen and (max-width: 1200px) {
  .conatiner {
    left: 20%;
  }
}

@media only screen and (max-width: 950px) {
  .conatiner {
    left: 15%;
  }
}

@media only screen and (max-width: 750px) {
  .conatiner {
    left: 10%;
  }
}

@media only screen and (max-width: 550px) {
  .conatiner {
    left: 6%;
  }
}
/* 
@media only screen and (max-width: 400px) {
  .conatiner {
    left: 3%;
  }
} */
/* 
@media only screen and (max-width: 250px) {
  .conatiner {
    left: 2%;
  }
}  */
